Name : Akash Arjun Sawant 
Clg : Shri Bhausaheb Vartak College
Email ID : sawantakash106@gmail.com

# Day 2 : Assignment

# 1) List 
 
 
 1) append() - This method Appends the specified  object at the end of the list.
 
 2) remove() - This method Removes specified object from list.
 
 3) count() - This method Returns count of how many times specified object occurs in list.
 
 4) reverse() - This method Reverses objects of list in place.
 
 5) pop() - This method Removes and returns last object from list.

In [1]:
list1 = [12,34.6,'sky',[13,56]]
list1

[12, 34.6, 'sky', [13, 56]]

In [2]:
list1.append(55)
list1

[12, 34.6, 'sky', [13, 56], 55]

In [4]:
list1.remove('sky')
list1

[12, 34.6, [13, 56]]

In [6]:
list1.count(12)

1

In [7]:
list1.reverse()
list1

[[13, 56], 34.6, 12]

In [60]:
list1.pop()

12



# 2) String


1) count() - This method Counts how many times str occurs in string or in a substring of string if starting index beg and ending index end are given.

2) find() - This method Determine if specified str occurs in string or in a substring of string if starting index beg and ending index end are given returns index if found and -1 otherwise.

3) islower() - This method Returns true if string has at least 1 cased character and all cased characters are in lowercase and false otherwise.

4) isdigit() - This method Returns true if string contains only digits and false otherwise.

5) swapcase() - This method Inverts case for all letters in string.

In [8]:
str1 = 'hello sky'
str1

'hello sky'

In [10]:
str1.count('l')

2

In [11]:
str1.find('s')

6

In [13]:
str1.islower()

True

In [14]:
str1.isdigit()

False

In [15]:
str1.swapcase()

'HELLO SKY'


# 3) Tuple


1) count() - This method Returns count of how many times specified object occurs in tuple.

2) index() - This method Returns the index of the specified object.

In [17]:
tup1 = (133,64.76,'python FCS',133)
tup1

(133, 64.76, 'python FCS', 133)

In [18]:
tup1.count(133)

2

In [22]:
tup1.index(133)

0


# 4) Dictionary


1) get() - This method For key, returns value or default if key not in dictionary.

2) values() - This method Returns list of dictionary's values.

3) keys() - This method Returns list of dictionary's keys.

4) update() - This method updates the value of a specified key with newly specified value and it is used to add other dictonary to the existing one. 

5) pop() - This method Removes and returns the value of a specified key from dictionary.

In [25]:
dict1 = {'name':'sky','age':23,'gender':'male','salary':12000}
dict1

{'name': 'sky', 'age': 23, 'gender': 'male', 'salary': 12000}

In [26]:
dict1.get('name')

'sky'

In [27]:
dict1.values()

dict_values(['sky', 23, 'male', 12000])

In [28]:
dict1.keys()

dict_keys(['name', 'age', 'gender', 'salary'])

In [35]:
dict1.update(age=29)
dict1

{'name': 'sky', 'age': 29, 'gender': 'male', 'salary': 12000}

In [70]:
dict1.pop('name')

'sky'


# 5) Set


1) add() - This method adds the specified item to the tuple.

2) discard() - This method Removes the specified item from the set, but If the item to remove does not exist, discard() will NOT raise an error.

3) update() - This method accepts another iterable such as Set, List, String, Dictionary as a parameter and adds the elements of these iterable to the calling set. This method converts the passed iterable to the set before adding their elements to the calling Set.

4) remove() - This method Removes the specified item from the set, but If the item to remove does not exist, remove() will raise an error.

5) pop() - This method Removes and returns last item from set, but Sets are unordered, so when using the pop() method, you will not know which item that gets removed.

In [39]:
set1 = {12,2354,56.56,'hello',12,33,'hello',33}
set1

{12, 2354, 33, 56.56, 'hello'}

In [40]:
set1.add('python')
set1

{12, 2354, 33, 56.56, 'hello', 'python'}

In [41]:
set1.discard(2354)
set1

{12, 33, 56.56, 'hello', 'python'}

In [45]:
list2 =[12,'sky']
set1.update(list2)
set1

{12, 33, 56.56, 'hello', 'python', 'sky'}

In [46]:
set1.remove(33)
set1

{12, 56.56, 'hello', 'python', 'sky'}

In [47]:
set1.pop()

12